
Body {
  background-color: $background;
}

#Logo {
  width: 5px;
  height: 50px;
}

nav {
  background-color: $primary;
}
li > a {
  color: $text;
}
li >a:hover {
  transition-duration: 1s;
background-color: $tertiary;
color: $background;
}

.dark button {
  Body {
    background-color: $text;
  }

  
  nav {
    background-color: $tertiary;
    }
  li > a {
    color: $text;
  }
  li >a:hover {
    transition-duration: 1s;
  background-color: $tertiary;
  color: $background;
  }
}