h1,
h2,
h3,
h4 {
  font-family: "Almendra SC";
  color: $text;
}
.nav-link {
  font-family: "Almendra SC";
  font-size: 1.4rem;
  color: $text;
}
.nav-link {
  @include lg {
    color: $background;
    margin-left: 8rem;
    margin-right: 8rem;
    font-size: 1.7rem;
  }
}

.btn,
span {
  font-family: "Almendra SC";
}
main {
  h2 {
    color: $secondary;
    font-weight: 900 !important;
    font-size: 2.4rem !important;
    font-style: italic;
    margin-left: 5%;
  }
  h3 {
    font-weight: 900 !important;
    font-size: 2rem !important;
    font-style: italic;
    margin-left: 5%;
    width: fit-content;
    border-bottom: 3px solid $text;
  }
}
body {
  background-color: $background;
}
nav {
  background-color: $primary;
}

li > a:hover {
  transition-duration: 1s;
  background-color: $tertiary;
  color: $background;
}
#Logo {
  width: 150px !important;
  height: 150px !important;
}
#mode.btn {
  background-color: $primary;
}
#mode.btn:hover {
background-color: $tertiary;
}
.btn:hover {
  background-color: $tertiary;
}
.articles {
  width: 250px;
  margin-top: 3%;
  h4 {
    margin-left: 15%;
    color: $tertiary;
    font-weight: bold;
    text-align: center;
  }
  p {
    text-align: justify;
    margin-left: 25%;
  }
  img {
    margin-left: 25%;
  }
  button {
    margin-left: 35%;
    border: 2px solid $text;
    color: $background;
    background-color: $primary;
  }
  a{
    text-decoration: none;
    cursor: pointer;
    color : $text;
  }
  .titreTronque {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;
  }
}
footer {
  background-color: $primary;  
  text-align: center;
  a{
    color: $background;    
    text-decoration: none;
  }  
}
/*passage du mode clair au mode sombre*/
.dark {
  background-color: $text;
  nav {
    background-color: $tertiary;
    font-family: "Almendra SC";
  }
  h2,
  h3 {
    color: $background;
  }
  li > a:hover {
    transition-duration: 1s;
    background-color: $primary;
    color: $background;
  }
  article > * {
    color: $background;
  }
  h4,
  p {
    color: $background;
  }
  .articles {
    width: 250px;
    margin-top: 3%;
    h4 {
      margin-left: 15%;
      color: $primary;
      font-weight: bold;
      text-align: center;
    }
    p {
      text-align: justify;
      margin-left: 25%;
    }
    img {
      margin-left: 25%;
    }
    button {
      margin-left: 35%;
      border: 2px solid $background;
      background-color: $tertiary;
    }
    /*.btn:hover {
      background-color: $primary;
    }*/
  }
  main {
    h2 {
      color: $secondary;
    }
    h3 {
      border-bottom: 3px solid $background;
    }
  }
  footer {
    background-color: $tertiary;  
    text-align: center;

  }
  .btn:hover {
    background-color: $primary;
  }  
}




