#container {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  padding: 0px 20px;
  border: 1px solid red;
}

#tops {
  border: 1px solid green;
  display: block;
  width: auto;
  flex-wrap: wrap;
  
}

