#container {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  padding: 0px 20px;
  border: 1px solid red;
}

#tops {
  border: 1px solid green;
  display: block;
  width: auto;
  flex-wrap: wrap;
  
}

$breakpoints: (
   mobile: 599px
);

@mixin mobile-only {
   @media screen and (max-width: map-get($breakpoints, mobile)){
    grid-template-columns: 1fr;
    }
  }

  .top-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 599px) {
    .top-container {
     grid-template-columns: 1fr;
    }
    }