@import "./variable.scss" ;
#container {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  padding: 0px 20px;
}
.top-container img {
  height: auto;
  max-width: 100%;
  border-radius: 3px;
  justify-content: center;

}

.top-container h4{
  font-size: 18px;
  margin-top: 12px;
}

.top-container p{
  font-size: 12px;
}
